@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Open Sans", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Work Sans", sans-serif;
}