@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
* {
    font-family: "Open Sans", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.btn-primary {
    border-radius: 8px;
    background-color: #ff900e;
    padding: 21px 25px;
    color: #ffffff;
    font-size: 1.25rem;
    border: 0;
    cursor: pointer;
}

/* header styles */
header {
    background-color: rgba(255, 143, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.7rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #444444;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    line-height: 4.25rem;
    font-weight: bold;
    color: #131313;
}

.banner-description {
    font-size: 1rem;
    line-height: 1.50rem;
    font-weight: 300;
    color: #727272;
}

.banner img {
    margin-top: 35px;
    width: 100%;
}

/* features style */

main {
    max-width: 1140px;
    margin: 80px auto;
}

.features-container {
    display: flex;
    align-items: center;
}

.features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

/* responsive media quary */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav li {
        font-size: .9rem;
        text-align: center;
    }

    .btn-primary {
        background-color: #ff900e;
        padding: 10px 110px;
        color: #ffffff;
        font-size: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: px;
    }

    nav {
        flex-direction: column;
    }

    .btn-primary {
        background-color: #ff900e;
        padding: 20px 50px;
        color: #ffffff;
        font-size: 1.15rem;
    }
}